
.icon-emo-happy:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-emo-unhappy:before { content: '\e802'; } /* '' */
.icon-search:before { content: '\e803'; } /* '' */
.icon-spin1:before { content: '\e830'; } /* '' */
.icon-marquee:before { content: '\e847'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */